body {
    background-color: #d62b00;
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: #7fd6ff;
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
}