body {
    background-color: #d30000;
    color: rgb(255, 255, 255);
    font-family: "Bai Jamjuree", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: #ffdd45;
    color: rgb(255, 255, 255);
    font-family: "Bai Jamjuree", sans-serif;
}