body {
    background-color: #29008a;
    color: rgb(255, 255, 255);
    font-family: "Bai Jamjuree", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: #ffadad;
    color: rgb(0, 0, 0);
    font-family: "Bai Jamjuree", sans-serif;
}